# Gradle files
.gradle/
build/

控制+换挡+m
local.properties

切换
*.log

控制+百万
captures/
.externalNativeBuild/
.cxx/
*.apk
output.json

切换
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

突耳
*.jks
*.keystore

按键移动焦点。或者，使用
google-services.json

欧洲心脏病学会
*.hprof
